
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 200px 4fr;
    grid-template-areas: 
    "dashboard header"
    "dashboard main";

    
}
.settings {
    grid-area: settings;
    margin-top: 40px;
}
.top img {
    width: 30px;
    height: 30px;
}

button {
    background-color: rgb(73, 134, 214);;
    color: white;
    border-radius: 24px;
    font-weight: bold;
    padding: 13px 30px;
    font-size: 16px;
    border: none;
    margin-left: 24px;
    width: 125px;
}
.dashboard {
    background-color: rgb(73, 134, 214);;
    color: white;
    grid-area: dashboard;
    padding: 20px 0 0 30px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2.5fr 3fr;
    grid-template-areas: 
    "title"
    "menu"
    "settings"
    ".";
    
}


    

li {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 29px;
    font-size: 28px;
    list-style-type: none;
    margin-top: 20px;
    padding-left: 13px;
    
}

.header {
    grid-area: header;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    padding-left: 60px;
    
}
.bot h1 {
    font-size: 25px;
}
.bot {
    grid-row: 2 / 3;
   display: grid;
   grid-template-columns: 900px auto;
   align-items: center;
}

.title {
    grid-area: title;
}
.title h1 {
    font-size: 35px;
}
.menu {
    grid-area: menu;
    
    
}
svg,
img {
    width: 34px;
    height: 34px;
    fill: white;

    
}
input {
    width: 700px;
    height: 37px;
    border-radius: 20px;
    border: none;
    background-color: #e2e8f0;

}
.profileBot {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}

.name p {
    font-weight: bold;
    font-size: 18px;
}
.rightProfile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.top {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 150px;
    align-items: center;
}
.top .right
 {
    font-size: 15px;
}
.right .profileBot {
    width: 60px;
    height: 60px;
}

.left,
.right,
.name {
    display: grid;
    grid-template-columns: max-content max-content auto;
    gap: 28px;
    align-items: center;

}

.title svg {
    height: 60px;
    width: 60px;
}
.title {
    display: grid;
    grid-template-columns: max-content max-content auto;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;

}
.main  {
    background-color: #e2e8f0;
    grid-area: main;
    display: grid;
    grid-template-columns: 2.4fr 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas: 
    "mheader mheader"
    "projects announcements";
    padding-left: 20px;
    padding-top: 20px;
    
     

}
.main h1 {
    font-size: 25px;
}
.projects {
    display: grid;
    grid-template-columns: max-content auto;
    grid-auto-rows: 210px;
    column-gap: 80px;
    grid-area: projects;
    row-gap: 35px;
    
}
.card {
    height: 210px;
    width: 450px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    border-left: 10px solid rgb(254, 192, 6);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: max-content max-content;
    
}
.card p,
.description {
    color: #6b7280;
}
.mainHeader{
    grid-area: mheader;
    display: grid;
    grid-template-columns: 2.4fr 1fr;
}
.announcements {
    grid-area: announcements;
    display: grid;
    grid-template-rows: 1fr 40px 1fr;
    grid-template-areas: 
    "rightCard"
    "trendingHeader"
    "trendingCard";
   
}
.rightCard  {
    height: 370px;
    width: 350px;
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px 5px 20px;
    grid-area: rightCard;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);

} 
.rightCard h2 {
    font-size: 16px;
}
.rightCard p {
    font-size: 14px;
    color: #6b7280;
}
.cardSection {
    margin-top: 20px;
    margin-bottom: 15px;
}
.trendingHeader{
    grid-area: trendingHeader;
    margin-top: 10px;
}
.trendingCard {
    grid-area: trendingCard;
    background: white;
    height: 280px;
    width: 350px;
    border-radius: 8px;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 9px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Cool box shadow effect */
}
.profile {
    display: grid;
    grid-template-columns: max-content auto auto;
    align-items: center;
    gap: 10px;
}
.profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.links {
    
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
}
.links img {

    width: 30px;
    height: 30px;
    margin-top: 15px;
    border-radius: 50%;
    
    
}
.links img:hover {
    background-color: #b8babd;
}

